.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 200px);
    color: white;
    flex-direction: column;
}

.Container h1 {
    font-size: 30px;
}

.Container img {
    height: auto;
    width: 100px;
    border-radius: 8px;
}

.IntroText {
    list-style: none;
}

.IntroText li {
    padding : 20px 40px;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border : 3px solid black;
    text-transform: uppercase;
    background: var(--lighter);
    margin-bottom : 10px;
}

.IntroText img {
    height: 40px;
    width: 40px;
    margin-left: 50px;
}

.InButton {
    border: 3px solid black;
    padding : 5px 15px;
    color: black;
}

.InButton:hover {
    background: rgba(0,0,0,0.1);
}

.Splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}