.User {
    display: flex;
    width: 100%;
    max-width: 260px;
    height: 50px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    padding : 0 5px;
    border-radius: 5px;
    background-color: var(--bg-accent);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    transition: all 300ms;
}

.User:hover {
    filter : contrast(120%);
}

.User img {
    height : 40px;
    width:  40px;
    border-radius: 50%;
    -webkit-user-drag: none;
}