.Container {
    padding: 20px 40px;
    width: 100%;
}

.BodyContainer {
    display: flex;
    padding-left: 15px;
    width: 100%;
    justify-content: space-around;
}

.Heading {
    display: flex;
    height : 100px;
    align-items: center;
    justify-content: flex-start;
    color : var(--text-colour);
    margin: 10px 0;
    margin-bottom : 30px;
    padding-right: 60px;
    background: var(--bg-accent);
    border-radius: 5px;
    position: relative;
    left : 50px;
}

.HeadingCircle {
    height : 100px;
    width: 100px;
    border-radius: 50%;
    background: var(--bg-accent);
    position: absolute;
    left : -50px;
}

.Heading h1 {
    margin: 0;
    color: var(--text-colour);
    z-index: 2;
}

.UserContainer {
    min-width : 200px;
    height : 100%;
    margin-top: 12px;
}

.UserContainer h2 {
    margin-top: 0;
    color: var(--text-colour);
}

.Main {
    position: relative;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}

.Notifications {
    min-width: 300px;
    margin-top: 12px;  
    max-height: calc(100vh - 250px);
    position: relative;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
}

.NotificationContainer h2 {
    margin-top: 0;
    color: var(--text-colour);
}

.Notification {
    background: gray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom : 10px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2); 
    transition: all 400ms;
}

*::-webkit-scrollbar {
    width: 12px;
  }
*:-webkit-scrollbar-track {
    background: var(--bg-accent);
  }
*::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 20px;
    border: 2px solid white;
  }

.NotificationFadeOut {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
}


.Notification:hover {
   transform: translateX(-5px);
}

.Notification img {
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.AddProject {
    position: absolute;
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    bottom : 10px;
    right: 10px;
    padding: 20px;
    border-radius: 50%;
    background-color: var(--bg-accent);
    color : white;
    cursor: pointer;
    transition: all 200ms;
}

.AddProject:hover {
    filter: contrast(120%) drop-shadow(3px 3px 0px var(--bg));
    transform: translateX(-3px) translateY(-3px);
    
}

.AddContainer span {
    user-select: none;
}

