.ProjectsContainer {
    color: var(--text-colour);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows : 50px;
    grid-gap : 20px;
}

.ProjectsContainer h2 {
    grid-column: 1 / span 2;
}