.AddButton {
    background: var(--bg);
    border-radius: 4px;
    transition: all 100ms;

    position: absolute;
    bottom : 10px;
    right : 10px;
}

.AddButton:hover {
    filter: contrast(80%)
}