.Friends {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: var(--bg-accent);
    padding-top: 15px;
    padding-left: 15px;
    color: var(--text-colour);
    margin-left : 20px;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 40px;
}

.Friends h2 {
    margin-top: 0;
}