* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-100deg, var(--bg) 59.45%, var(--lighter) 59.5%);
  min-height: 100vh;
  overflow-x: hidden
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: var(--bg-accent);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: darkgray;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--bg-accent);  /* creates padding around scroll thumb */
}


:root {
  --bg : #203647;
  --bg2 : #12232E;
  --bg-accent:#12232E;
  --lighter : #007CC7;
  --lightest : #4DA8DA;
  --text-colour: #dadce1;
  --nav-size: 60px;
  --border : 1px solid #474a4d;
  --speed : 500ms;
}

ul {
  list-style: none;
  margin : 0;
  padding: 0;
}

a {
  text-decoration: none;
  color : var(--text-colour);
}