* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222629;
  min-height: 100vh;
  min-width: 435px;
}

pre {
  overflow-x: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: var(--bg-accent);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: darkgray;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--bg-accent);  /* creates padding around scroll thumb */
}


:root {
  --bg : #6B6E70;
  --bg2 : #222629;
  --bg-accent:#474B4F;
  --lighter : #61892F;
  --lightest : #86C232;
  --text-colour: #dadce1;
  --nav-size: 60px;
  --border : 1px solid #474a4d;
  --speed : 500ms;
}

ul {
  list-style: none;
  margin : 0;
  padding: 0;
}

a {
  text-decoration: none;
  color : var(--text-colour);
}